<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:c="http://www.springframework.org/schema/c"
       xsi:schemaLocation="
 		http://www.springframework.org/schema/beans
 		http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
 		http://www.springframework.org/schema/util
 		http://www.springframework.org/schema/util/spring-util-3.2.xsd">

    <import resource="logger.xml"/>

    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:client.properties</value>
            </list>
        </property>
        <property name="ignoreResourceNotFound" value="true"/>
        <property name="systemPropertiesMode">
            <util:constant
                    static-field="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer.SYSTEM_PROPERTIES_MODE_OVERRIDE"/>
        </property>
    </bean>

    <bean id="client" class="ua.study.spring.beans.Client"
          p:greeting="${greeting}">
        <constructor-arg index="0" value="${id}"/>
        <constructor-arg value="${name}"/>
    </bean>

    <util:map id="loggerMap">
        <entry key="INFO" value-ref="eventLogger"/>
        <entry key="ERROR" value-ref="combinedEventLogger"/>
    </util:map>

    <bean id="application" class="ua.study.spring.Application">
        <constructor-arg ref="client"/>
        <constructor-arg ref="#{T(event).isDay() ? fileEventLogger : eventLogger}"/>
        <constructor-arg>
            <map>
                <entry key="INFO" value-ref="eventLogger"/>
                <entry key="ERROR" value-ref="fileEventLogger"/>
            </map>
        </constructor-arg>
    </bean>

    <bean id="dateFormat" class="java.text.DateFormat" factory-method="getDateTimeInstance"/>

</beans>